.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        杉原
      %ul.side-header__box__menu
        %li.side-header__box__edit-btn
          = link_to "#" do
            =icon('fas', 'edit')
        %li.side-header__box__new-group
          = link_to "#" do
            =icon('fas', 'cog')
  .groups
    = link_to "#", class:"group" do
      %p.group-name
        チームA
      %p.latest-message
        まだ投稿はありません
      %p.group-name
        チームB
      %p.latest-message
        まだ投稿はありません
      %p.group-name
        チームC
      %p.latest-message
        まだ投稿はありません